<!DOCTYPE html>
<html>
<head>
	<title> New User </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<h1> New User </h1>
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> <strong> {{ message }} </strong> </li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</div>
	<form action="{{ url_for('new') }}" method = 'post'>
		Name:<br>
		<input type="text" name="name"><br>
		Gendr:<br>
		<input type="radio" name="gender" value="male"> Male <br>
		<input type="radio" name="gender" value="female"> Female <br>
		<input type="radio" name="gender" value="other"> Other <br>
		Email Address:<br>
		<input type="text" name="email"><br>
		Password:<br>
		<input type="password" name="password">
		<input type="submit" value="Create Account">
	</form>
</body>
</html>